################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-cgdk/csharp-cgdk/bin/Debug
