################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-cgdk/csharp-cgdk/bin/
/csharp-cgdk/csharp-cgdk/bin/*
/csharp-cgdk/csharp-cgdk/obj/*
/local-runner/game.log