################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-cgdk/csharp-cgdk/bin/Debug
/csharp-cgdk/csharp-cgdk/bin/
/csharp-cgdk/csharp-cgdk/obj/
/csharp-cgdk/csharp-cgdk/obj/Debug
/local-runner/game.log